.corpus-text {
  color: #fff;
  border-style: none;
  font-size: 18px;
  text-align: left;
  padding: 0;
  margin: 0;
  background: transparent;
  resize: none;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

.corpus-text:focus,
input:focus {
  outline: none;
}
