.corpus-text {
  border-style: none;
  font-size: 16px;
  text-align: left;
  margin: 10px 0px 10px 0px;
  background: transparent;
  resize: none;
}

.corpus-text:focus,
input:focus {
  outline: none;
}
