.listItem {
  list-style: none;
  text-align: center;
  padding: 4px 6px 4px 6px;
  margin: 2px;
  border: none;
  background-color: #fff;
  border-radius: 8px;
}

.listItem:hover {
  cursor: pointer;
}

.list {
  padding: 0px;
  list-style: none;
  margin: 0px;
}

.list-container {
  margin: 10px 0px 10px 0px;
}
