body {
  background-color: #ececec;
  color: #323635;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  color: #323635;
}

.header-row {
  background-color: transparent;
  min-height: 60vh;
}

.app-header {
  color: #323635;
  background-image: linear-gradient(
    to bottom right,
    rgb(149, 209, 191),
    #e4b2cb,
    rgb(149, 209, 191)
  );
  background-size: 400% 400%;
  animation-name: header-background;
  animation: header-background 60s ease infinite;
}

@keyframes header-background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.top-banner {
  background-color: transparent;
  min-height: 10%;
}

.app-header-content {
  height: 75%;
}

.bottom-banner {
  background-color: transparent;
  text-align: center;
  min-height: 10%;
  height: 10%;
}

.app-title-small {
  color: #fff;
  font-size: larger;
}

.app-title {
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  width: 300px;
  height: 300px;
  mix-blend-mode: screen;
  color: #000;
}

.app-title-n {
  font-size: 4cm;
  padding: 0px;
  margin: 20px 0px 15px 0px;
}

.app-title-gram {
  font-size: 17mm;
  letter-spacing: 6px;
  line-height: 0px;
  padding: 0px;
  margin: 0px;
  margin-left: 2mm;
}

.app-subtitle {
  font-size: 20px;
}

.corpus-container {
  color: white;
  height: 75%;
}

.settings-container {
  margin: 10px 5px 10px 5px;
}
.settings-word-length-slider-lable {
  color: #fff;
}

.settings-word-length-slider {
  -webkit-appearance: none;
  margin: 10px 5px 10px 5px;
  background: #fff;
  width: 100%;
  height: 20px;
  border-radius: 8px;
}

.settings-word-length-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: rgb(149, 209, 191);
  cursor: pointer;
  border-radius: 8px;
}

.settings-word-length-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: rgb(149, 209, 191);
  cursor: pointer;
  border-radius: 8px;
}

.settings-word-length-slider:hover {
  cursor: pointer;
}

.result-row {
  min-height: 40vh;
  padding-top: 1cm;
  background-color: #e3e3e3;
}

.footer-row {
  min-height: 20vh;
  background-color: #5c5c5c;
}
