.App {
  text-align: center;
}

*{
  font-family: Arial, Helvetica, sans-serif;
}

.App-header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:  #323635;
}

.App-title-n{
  font-size: 4cm;
  
  padding: 0px;
  margin: 12px;
}

.App-title-gram{
  font-size: 18mm;
  letter-spacing: 6px;
  line-height: 0px;
  padding: 0px;
  margin: 0px;
}

.App-subtitle{
  font-size: 20px;
}

.settings-container{
  margin: 10px 5px 10px 5px;
}

.settings-input-word-length{ 
  border: none;
  margin: 10px 5px 10px 5px;
}

.button-generate{
  background-color: #323635;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  padding:5px 20px 4px 20px;
  border-radius: 10px;
}

.button-generate:hover{
  cursor: pointer;
  color: #73c9a8;
}