body {
  background-color: #ececec;
  color: #323635;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  color: #323635;
}

.title-container {
  text-align: center;
}

.app-header {
  min-height: 60vh;
  color: #323635;
  background-image: linear-gradient(
    to bottom right,
    rgb(149, 209, 191),
    #e4b2cb,
    rgb(149, 209, 191)
  );
  background-size: 400% 400%;
  animation-name: header-background;
  animation: header-background 60s ease infinite;
}

@keyframes header-background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.app-header-content {
  height: 100%;
}

.glow {
  color: #fff;
  -webkit-animation: glow 10s ease-in-out infinite alternate;
  -moz-animation: glow 10s ease-in-out infinite alternate;
  animation: glow 10s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(149, 209, 191),
      0 0 40px rgb(149, 209, 191), 0 0 50px #e4b2cb, 0 0 60px #e4b2cb,
      0 0 70px #e4b2cb;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #e4b2cb, 0 0 40px #e4b2cb,
      0 0 50px #e4b2cb, 0 0 60px #e4b2cb, 0 0 70px #e4b2cb, 0 0 80px #e4b2cb;
  }
}

.app-title-n {
  font-size: 4cm;
  padding: 0px;
  margin: 12px;
}

.app-title-gram {
  font-size: 17mm;
  letter-spacing: 6px;
  line-height: 0px;
  padding: 0px;
  margin: 0px;
  margin-left: 4mm;
}

.app-subtitle {
  font-size: 20px;
}

.corpus-container {
  padding-top: 1cm;
  color: white;
  height: 75%;
}

.banner {
  background-color: transparent;
  text-align: center;
  min-height: 10%;
  height: 10%;
}

.settings-container {
  margin: 10px 5px 10px 5px;
}

.settings-input-word-length {
  border: none;
  margin: 10px 5px 10px 5px;
}

.result-container {
  padding-top: 1cm;
}
